
    .col-md-4{
        display: none;
    }
    h1{
        display: none;
    }
    #test p{
        display: none;
    }
    img{
        width: 300px;
        height: 300px;
       
    }
    #test{
        background-color: darkslategray;
        width: 30px;
        height: 40px;
    }
      
